@{
  Layout = "_Layout";
}

<h1>Add an order to @Model.Name</h1>
<p>Add an order here:</p>

<form action="/vendor/@Model.Id/orders" method="post">
  <label for="orderName">Order name</label>
  <input id="orderName" name="orderName" type="text">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <br>
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/orders">Back to orders.</a></p>